body {
  grid-template-columns: 1fr min(90rem, 90%) 1fr;
}
nav a.current {
  color: var(--accent) !important;
  border-color: var(--accent);
}
.downloads {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0;
}
.downloads a {
  text-decoration: none;
  margin: 0 20px;
}
.sections {
  margin: 50px 0;
}
.sections .section:nth-child(odd) {
  background-color: var(--accent-bg);
}
.sections .section {
  padding: 50px;
  display: flex;
  align-items: center;
}
.sections .text {
  flex-grow: 1;
}
.sections img {
  width: 50%;
}
.sections .section:nth-child(odd) img {
  padding-left: 50px;
}
.sections .section:nth-child(even) img {
  padding-right: 50px;
}
pre code {
  color: white;
}
