pre {
  white-space: pre;
  word-wrap: normal;
  overflow-x: auto;
}
pre code {
  font-size: 80%;
}
.social-btns {
  margin-top: 20px;
}
.social-btns img {
  display: inline;
  margin: 0;
}
img[alt=logo] {
  width: 32px;
  height: 32px;
  display: inline;
  margin: 0 10px 0 0;
}
.languages {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
}
.languages div {
  flex-direction: column;
  border: 1px solid #999;
  padding: 5px 10px;
}