<header>
  <nav>
    <a href="{{ site.baseurl }}/">Home</a>
    <a href="{{ site.baseurl }}/javascript/docs/">Javascript Docs</a>
    <a href="{{ site.baseurl }}/ruby/docs/">Ruby Docs</a>
    <a href="{{ site.baseurl }}/architecture/">Architecture</a>
    <a href="https://playground.synvert.net/" target="_blank" rel="noreferrer">Playground</a>
    <a href="https://synvert.substack.com/" target="_blank" rel="noreferrer">Use Cases</a>
    <a href="{{ site.baseurl }}/contact_us/">Contact Us</a>
  </nav>
  <img src="{{ site.baseurl }}/assets/img/logo_96.png" alt="logo" width="48" height="48" />
</header>
