<header>
  {% include languages.html %}
  <nav>
    <a href="{{ site.baseurl }}/ruby/home/">Home</a>
    <a href="https://rubydoc.info/github/xinminlabs/synvert-core-ruby/master" target="_blank" rel="noreferrer">DSL</a>
    <a href="https://synvert-playground.xinminlabs.com?language=ruby" target="_blank" rel="noreferrer">Playground</a>
    <a href="{{ site.baseurl }}/ruby/official_snippets/">Offical Snippets</a>
    <a href="{{ site.baseurl }}/ruby/examples/">Examples</a>
    <a href="{{ site.baseurl }}/ruby/contact_us/">Contact Us</a>
  </nav>
  <h1>{{ site.title }}</h1>
  <img src="{{ site.baseurl }}/img/logo_96.png" alt="logo" width="48" height="48" />
  <p class="lead">{{ site.description }}</p>
</header>
